body{
    font-size: 14px;
    line-height: 23px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: poppins,Kanit,sans-serif;
    color: #fff;
    position: relative;
    background-color: #1B1B1B;
}
a:hover{
    color: green;
}
a{
    color: #fff;
}
.marquee-card{
    border-radius: 25px;
    height: 60px;
}
.user-box {
    position: relative;
}
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.user-box a:hover {
    background: green;
    color: #fff;
    border-radius: 1px;
}
.user-box a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: green;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.user-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: green;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}  
.user-box a span {
    position: absolute;
    display: block;
}
  
.user-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, green);
    animation: btn-anim1 5s linear infinite;
}
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
}
  
.user-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, green);
    animation: btn-anim2 5s linear infinite;
    animation-delay: .5s
}
  
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}
  
.user-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, green);
    animation: btn-anim3 5s linear infinite;
    animation-delay: .5s
}
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
.user-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, green);
    animation: btn-anim4 5s linear infinite;
    animation-delay: .5s
  }
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}
.card-border{
    border-radius: 25px;
}